{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block context %}

<div class="text-center row">
    <div class="text-left col">
        <h2 class="h2 text-primary">Componentes</h2>
    </div>
    <div class="col-auto form-inline">
        <form method="GET" action="{% url 'componente' %}">
            <input type="text" name="msg" id="msg" value="ok" hidden>
            <input type="text" name="filtro" id="filtro" value="none" hidden>
            <input type="text" name="find" id="find" class="form-control" style="max-width:300px;" value="{{find}}">
            <button type="submit" class="btn btn-success mr-3"><img src="{% static 'img/procurar.png' %}" width="20" height="20"></button>
        </form>
        <a class="btn btn-primary" href="{% url 'componente_add' %}"><img src="{% static 'img/adicionar.png' %}" width="20" height="20"></a>
    </div>
</div>
<hr>
{% if msg == 'gravado' %}
    <div class="alert alert-success p-3">
        <strong>Ação executada com Sucesso</strong>
    </div>
    {% endif %}
    {% if msg == 'falha' %}
    <div class="alert alert-danger p-3">
        <strong>Falha ao Tentar executar a Ação</strong>
    </div>
    {% endif %}
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr class="thead-dark">
                <th><input type="checkbox" ></th>
                <th>
                    <a class="text-light" href="{% url 'componente' %}?filtro=nome">Nome</a>
                    {% if filtro == 'nome' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'componente' %}?filtro=tipo">Tipo</a>
                    {% if filtro == 'tipo' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'componente' %}?filtro=preco_compra">Preço Compra</a>
                    {% if filtro == 'preco_compra' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'componente' %}?filtro=fator">Fator</a>
                    {% if filtro == 'fator' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'componente' %}?filtro=preco_venda">Preço Venda</a>
                    {% if filtro == 'preco_venda' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>--</th>
            </tr>
        </thead>
        <tbody>
            {% for i in dados %}
            <tr>
                <td><input type="checkbox" ></td>
                <td><a href="{% url 'componente_edit' %}?id={{i.pk}}">{{i.nome}}</a></td>
                <td>{{i.tipo}}</td>
                <td>R$ &nbsp; {{i.preco_compra}}</td>
                <td>{{i.fator}}</td>
                <td>R$ &nbsp; {{i.preco_venda}}</td>
                <td><a onclick="del({{i.id}},'{{i.nome}}')" class="btn btn-danger"><img src="{% static 'img/lixo.png' %}" width="20" height="20"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function del(val,nome){
        var ret = confirm(`Deseja apagar ${nome}? \r todos os dados relacionados serão deletados!!`)  
        if(ret){
            document.location.href=`{% url 'componente_del' %}?id=${val}`
        }      
    }
</script>
{% endblock %}