{% extends 'base.html' %}
{% load static %}
{% block context %}

<div class="pb-5">
    <h2>Login</h2>
</div>
<hr>
<div class="m-auto p-4 login">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="False" onclick="clearMsg()">
        </div>
        <div class="form-group">
            <label for="email">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" onclick="clearMsg()">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" >Login</button>
        </div>
        {% if msg != 'ok' and msg != '' %}
            <div class="bg-danger" id="msg">
                <strong class="text-light text-center p-3">{{ msg }} - Usuário ou senha incorreto(s)!!</strong>
            </div>
        {% endif %}
    </form>
</div>

<script>
    function clearMsg(){
        document.getElementById("msg").innerHTML = ""
    }
</script>

{% endblock %}



