{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block context %}


<div class="text-center row">
    <div class="text-left col">
        <h2 class="h2 text-primary">Adição de Componente</h2>
    </div>
    <div class="col-auto form-inline">
        <form method="GET" action="{% url 'relacao_add' %}">
            <input type="text" name="msg" id="msg" value="ok" hidden>
            <input type="text" name="conjunto_id" id="conjunto_id" value="{{conjunto_id}}" hidden>
            <input type="text" name="filtro" id="filtro" value="none" hidden>
            <input type="text" name="find" id="find" class="form-control" style="max-width:300px;" value="{{find}}">
            <button type="submit" class="btn btn-light mr-3"><img src="{% static 'img/procurar.png' %}" width="20" height="20"></button>
        </form>
    </div>
</div>
<hr>
{% if msg == 'gravado' %}
    <div class="alert alert-success p-3">
        <strong>Ação executada com Sucesso</strong>
    </div>
    {% endif %}
    {% if msg == 'falha' %}
    <div class="alert alert-danger p-3">
        <strong>Falha ao Tentar executar a Ação</strong>
    </div>
    {% endif %}
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr class="thead-dark">
                <th>
                    <a class="text-light" href="{% url 'relacao_add' %}?filtro=nome&conjunto_id={{conjunto_id}}">Nome</a>
                    {% if filtro == 'nome' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'relacao_add' %}?filtro=tipo&conjunto_id={{conjunto_id}}">Tipo</a>
                    {% if filtro == 'tipo' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'relacao_add' %}?filtro=preco_compra&conjunto_id={{conjunto_id}}">Preço Compra</a>
                    {% if filtro == 'preco_compra' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'relacao_add' %}?filtro=fator&conjunto_id={{conjunto_id}}">Fator</a>
                    {% if filtro == 'fator' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>
                    <a class="text-light" href="{% url 'relacao_add' %}?filtro=preco_venda&conjunto_id={{conjunto_id}}">Preço Venda</a>
                    {% if filtro == 'preco_venda' %}
                    <img src="{% static 'img/ordenarInv.png' %}" width="20" height="20">
                    {% endif %}
                </th>
                <th>Quantidade</th>
                <th>--</th>
            </tr>
        </thead>
        <tbody>
            {% for i in dados %}
            <tr>
                <td>{{i.nome}}</td>
                <td>{{i.tipo}}</td>
                <td>R$ &nbsp; {{i.preco_compra}}</td>
                <td>{{i.fator}}</td>
                <td>R$ &nbsp; {{i.preco_venda}}</td>
                <form action="{% url 'relacao_add' %}" method="POST" target="_self">
                    <td>
                        {% csrf_token %}
                        <input type="hidden" name="conjunto_id" value="{{conjunto_id}}">
                        <input type="hidden" name="componente_id" value="{{i.id}}">
                        <div class="m-auto text-center">
                            <input name="quantidade" class="text-center" style="max-width: 100px;" type="number" min="0"> 
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-light"><img src="{% static 'img/adicionar.png' %}" width="20" height="20"></button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function add(id_rel){
        var val = document.getElementById(id_rel).value
        var token = document.getElementById("csrfmiddlewaretoken")
        alert(token.value)
        url = `{% url 'relacao_add' %}?csrfmiddlewaretoken=${token}&relacao_id=${id_rel}&quantidade=${val}&conjunto_id={{conjunto_id}}`
        var xhp = new XMLHttpRequest()
        xhp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var re = this.responseText
                if (re='ok'){
                    document.location.href = "{% url 'conjunto' %}?id={{conjunto_id}}"
                }
                else{
                    alert('Ocorreu uma Falha ao Processar o pedido')
                }
            }
        }
        xhp.open("Post", url)
        xhp.send();
    }
</script>
{% endblock %}