{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block context %}
<div class="text-center row">
    <div class="text-left col">
        <h2 class="h2 text-primary">Edição de Proposta</h2>
    </div>
    <div class="col-auto form-inline">
        <a class="btn btn-light" href="{% url 'proposta' %}"><img src="{% static 'img/tabela.png' %}" width="20" height="20"></a>
        <a class="btn btn-light" href="{% url 'proposta_proposta' %}?id={{propostaID}}">Proposta</a>
    </div>
</div>
<hr>
<div class="border p-3 m-auto" style="max-width: 600px;">
    {% if msg == 'gravado' %}
    <div class="alert alert-success p-3">
        <strong>Cadastrado com Sucesso</strong>
    </div>
    {% endif %}
        {% if msg == 'falha' %}
    <div class="alert alert-danger p-3">
        <strong>Falha ao Gravar no Banco</strong>
    </div>
    {% endif %}
    <form action="{% url 'proposta_edit' %}" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <input type="hidden" value="{{propostaID}}" name="id">
        <input type="hidden" value="{{dados.tecnico.value}}" id="tecnico_id" name="tecnico">
        <div class="form-group">
            <label for="cliente">Cliente</label>
            <select name="cliente" id="cliente_id" class="form-control">
                <option value="{{dados.cliente.value}}">{{cliente}}</option>
            </select>
        </div>
            <div class="form-group">
                <label for="datafinal">Responsável</label>
                <select name="responsavel" class="form-control" required>
                {% for i in relacao %}
                    {% if dados.responsavel.value == i.funcionario.id %}
                        <option selected value="{{i.funcionario.id}}" >{{i.funcionario.nome}}</option>
                    {% else %}
                        <option value="{{i.funcionario.id}}" >{{i.funcionario.nome}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            {% bootstrap_field dados.projeto %}
            {% bootstrap_field dados.tipo %}
            {% bootstrap_field dados.vendedor %}
            {% bootstrap_field dados.descricao %}
            <div class="form-group">
                <label for="datafinal">Data Final</label>
                <input type="date" name="datafinal" class="form-control mb" required value="{{data}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary mb-3">Atualizar</button>
            </div>
    </form>
</div>

<script>
    function clienteChange(){
        var id = document.getElementById('cliente_id').value
        document.location.href=`{% url 'proposta_add' %}?cliente_id=${id}`
    }
</script>

{% endblock %}