{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block context %}
<div class="text-center row">
    <div class="text-left col">
        <h2 class="h2 text-primary">{{dados.nome}} - ({{dados.codigo}})</h2>
    </div>
    <div class="col-auto form-inline">
        <a class="btn btn-light mr-2" href="{% url 'item' %}"><img src="{% static 'img/tabela.png' %}" width="20" height="20"></a>
        <a class="btn btn-light mr-2" onclick="del()"><img src="{% static 'img/lixo.png' %}" width="20" height="20"></a>
        <a class="btn btn-light mr-2" href="{% url 'item_edit' %}?id={{dados.id}}"><img src="{% static 'img/editar.png' %}" width="20" height="20"></a>
    </div>
</div>
<hr>
<div class="p-3 m-auto">
    <div class="row mb-5">
        <div class="col-auto">
            <img class="img-thumbnail" src="{{dados.img.thumb.url}}">
        </div>
        <div class="col form-group">
            <strong class="text-primary">Descrição:</strong> <br>
            <a>{{dados.descricao}}</a>
            <div class="row mt-3">
                <div class="col">
                    <strong class="text-primary">Frabricante:</strong> <br>
                    {{dados.fabricante}}
                </div>
                <div class="col">
                    <strong class="text-primary">Linha:</strong> <br>
                    {{dados.linha}}
                </div>
                <div class="col">
                    <strong class="text-primary">Tipo:</strong> <br>
                    {{dados.tipo}}
                </div>
                <div class="col">
                    <strong class="text-primary">Família:</strong> <br>
                    {{dados.familia}}
                </div>
                <div class="col">
                    <strong class="text-primary">Preço:</strong> <br>
                    U$ &nbsp {{dados.preco}}
                </div>
            </div>
        </div>
        <div class="col-auto row">
            {% if dados.datasheet != '' %}
            <div class="col-auto p-2 m-2 text-center">
                <a target="_blank" href="{{dados.datasheet}}"><img src="{% static 'img/arquivo.png' %}" height="100"></a>
                <h3 class="h4 text-center">CAD</h3>
            </div>
            {% endif %}
            {% if dados.cad != '' %}
            <div class="col-auto p-2 m-2 text-center">
                <a target="_blank" href="{{dados.datasheet}}"><img src="{% static 'img/arquivo.png' %}" height="100"></a>
                <h5 class="h4 text-center">DataSheet</h5>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="m-auto">
        <div class="modal-title text-center">
            <h3 class="h3 text-center text-primary">Usado nos Projetos</h3>
        </div>
        <table class="table table-striped">
            <thead class="table-dark text-center">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Cliente</th>
                    <th>Projeto</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for p in projetos %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a href="{% url 'cliente_cliente' %}?id={{p.proposta.cliente.id}}">{{p.proposta.cliente}}</a></td>
                    <td><a href="{% url 'proposta_proposta' %}?id={{p.proposta.id}}">{{p.proposta}}</td></a>
                    <td>{{p.proposta.tipo}}</td>
                    <td>{{p.quantidade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function del(){
        var ret = confirm('Deseja apagar o Item {{dados.nome}} ({{dados.codigo}})?')  
        if(ret){
            document.location.href="{% url 'item_del' %}?id={{dados.id}}"
        }      
    }
</script>

{% endblock %}